In [3]:
import pandas as pd

df = pd.read_csv('data/l3T.csv')
df.head()

,host,clientIp,timestamp_min,timestamp_max,time_active,count
0,www.f81C.de,104.215.18.178,48295,286809,238514,4
1,www.f81C.de,110.193.215.48,189303,228127,38824,2
2,www.f81C.de,110.251.240.42,51088,51088,0,1
3,www.f81C.de,115.147.226.201,34296,104285,69989,6
4,www.f81C.de,115.239.140.6,225932,225932,0,1